.body {
    display: flex;

}

.cocktailList {
    flex-basis: 200px;
    max-height: 100vh;
    overflow-y: scroll;
    border-right: 2px solid grey;
    margin-right: 10px;
    padding: 10px;
}

.cocktail-item {
    padding: 10px;
    
}

.info-panel {
    width: 50%;
    padding: 0.5em;
    text-align: center;
}

.info-panel h1{
    margin: 1.5em;
}

.proportions {
    padding: 10px 0;
    margin-bottom: 15px;
    border-radius: 15px;
    
}

.main-content {
    display: flex;
    width: 90%;
    align-items: space-between;
}

.cocktail-form {
    width: 45%;
    padding: 0.5em;
}

